In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv_file = "wiki_data.csv"
wiki_df = pd.read_csv(csv_file)
wiki_df.head()

                          Title  Rank of Highest Grossing Movies
0                        Avatar                                1
1             Avengers: Endgame                                2
2                       Titanic                                3
3  Star Wars: The Force Awakens                                4
4        Avengers: Infinity War                                5

In [3]:
wiki_data = wiki_df[['Title', 'Rank of Highest Grossing Movies']].copy()

In [6]:
rds_connection_string = "postgres:postgres@localhost:5432/Project2"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [7]:
engine.table_names()

['wiki_data', 'imdb_data']

In [9]:
wiki_data.to_sql(name='wiki_data', con=engine, if_exists='append', index=False)

In [11]:
pd.read_sql_query('select * from wiki_data', con=engine).head()

                          Title Rank of Highest Grossing Movies
0                        Avatar                               1
1             Avengers: Endgame                               2
2                       Titanic                               3
3  Star Wars: The Force Awakens                               4
4        Avengers: Infinity War                               5